.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 0.75rem;
  overflow: hidden;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}

.tilt {
  background-color: rgb(21 16 48 / 1);
  padding: 20px;
  border-radius: 12px;
  width: 100%;
}

.portfolio__heading {
  margin-top: 20px;
}

.portfolio__heading > p {
  margin-top: 0.5rem;
  color: #6c757d;
  font-size: 12px;
  height: 170px;
}

.portfolio__heading > h3 {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.portfolio__tag {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 12px;
}

@media (min-width: 640px) {
  .tilt {
    width: 360px;
  }
}

/*  ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  /* .portfolio__heading > p {
    height: 190px;
  } */
}

/*  ========== MEDIA QUERIES (SMALL SCREEN) ========== */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
